---
layout: default
---

<div class="posts">

   <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>What is Skepticoin?</h1>

      </a>
      <div class="entry">
        Skepticoin is a peer-to-peer digital currency that enables you to send money
        online. It's also the central community of people who think that's bullshit.
      </div>

      <h4>What's your problem with Crypto?</h4>
      <div class="entry">
        Crypto-currencies are fine when viewed as a technological curiosity. If you
        actually believe that blockchains are the future, that bitcoin is a store of
        value, or that non-fungible tokens are anything but a scam, things get problematic.
      </div>

      <h4>Why a coin then?</h4>
      <div class="entry">
        Crypto-enthousiasts have an incentive to be loud about crypto-currency: the
        more other people they convince, the richer they themselves become. Crypto-sceptics
        are a silent majority: they have no such incentive, so you never hear them.
        Skepticoin changes that, by making the sceptics invested in a coin themselves.
      </div>
      <a href="{{ site.baseurl }}/about/" class="read-more">Read More</a>
    </article>

  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
